# Docker Compose variables
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=template_db

# Application
DATABASE_URL="postgres://postgres:postgres@localhost:5433/template_db?sslmode=disable"
BETTER_AUTH_SECRET=your-generated-secret
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
