# Docker Compose variables
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=template1

# Application
DATABASE_URL="postgres://postgres:postgres@localhost:5433/template1?sslmode=disable"
BETTER_AUTH_SECRET=dummy
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
