services:
  database:
    image: postgres:17
    container_name: database_app
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports: ['5433:5432']
    volumes:
      - database_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${DATABASE_USER} -d ${DATABASE_NAME}']
      interval: 5s
      timeout: 5s
      retries: 10

  flyway:
    image: flyway/flyway:11
    container_name: flyway_app
    command: ['-configFiles=/flyway/conf/flyway.conf', 'migrate']
    volumes:
      - ./flyway/conf:/flyway/conf # Config files
      - ./flyway/migrations:/flyway/migrations # Migration files
      - flyway_data:/flyway/data # Volume persistente para dados
    environment:
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - DATABASE_NAME=${DATABASE_NAME}
    depends_on:
      database:
        condition: service_healthy

volumes:
  database_data:
  flyway_data:
